*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main products section */
#produc {
  padding: 30px;
}
#produc h1{
   font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

/* Heading */
#products h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* Cards container */
#Roomcare {
 display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns */
  gap: 25px;
}

/* Product card */
.roomclean {
  width: 300px;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid #e5e5e5;
  transition: 0.3s ease;
}

/* Hover effect */
.roomclean:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.15);
}

/* Product image */
.roomclean img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

/* Product title */
.roomclean h2 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #222;
}

/* Product description */
.roomclean p {
  font-size: 19px;
  color: #555;
  line-height: 1.5;
}

@media(max-width:425px){
  #Roomcare{
    grid-template-columns: repeat(1,1fr);
    padding: 30px;
  }
}
@media(min-width:450px) and (max-width:768px){
  #Roomcare{
    grid-template-columns: repeat(2,1fr);
  }
}
@media(max-width:1024px){
  #Roomclean{
    grid-template-columns: repeat(4,1fr);
  }
}

#washroom{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns */
  gap: 25px;
}

@media(max-width:425px){
  #washroom{
    grid-template-columns: repeat(1,1fr);
    padding: 30px;
  }
}
@media(min-width:450px) and (max-width:768px){
  #washroom{
    grid-template-columns: repeat(2,1fr);
  }
}


#waste{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns */
  gap: 25px;
}

@media(max-width:425px){
  #waste{
    grid-template-columns: repeat(1,1fr);
    padding: 30px;
  }
}
@media(min-width:450px) and (max-width:768px){
  #waste{
    grid-template-columns: repeat(2,1fr);
  }
}

#lobbyclean{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns */
  gap: 25px;
}

@media(max-width:425px){
  #lobbyclean{
    grid-template-columns: repeat(1,1fr);
    padding: 30px;
  }
}
@media(min-width:450px) and (max-width:768px){
  #lobbyclean{
    grid-template-columns: repeat(2,1fr);
  }
}

#kitchen{
   display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns */
  gap: 25px;
}

@media(max-width:425px){
  #kitchen{
    grid-template-columns: repeat(1,1fr);
    padding: 30px;
  }
}
@media(min-width:450px) and (max-width:768px){
  #kitchen{
    grid-template-columns: repeat(2,1fr);
  }
}